.logo img {
    width: 20px;
}
button.logout {
    margin-top: 7px;
    border: none;
}
button.logout i{
    margin-left: 2px;
}
.header{
    background-color: #ffc400;
    box-shadow: 0px 6px 18px -6px rgba(18,20,26,.05); 
}